<FilesMatch "\.(js|css)$">
  <IfModule mod_expires.c>
    ExpiresActive on
    ExpiresDefault "access plus 7 days"
  </IfModule>
  FileETag MTime Size
</FilesMatch>


<IfModule mod_rewrite.c>
# IMPORTANT: This rule has to be the very first RewriteCond in order to work!
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)\.(\d+)\.(php|js|css|png|jpg|gif|gzip)$ $1.$3 [L]

# If the file/symlink/directory does not exist => Redirect to index.php.
# For httpd.conf, you need to prefix each '%{REQUEST_FILENAME}' with '%{DOCUMENT_ROOT}'.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

# Main URL rewriting.

# Enable URL rewriting
RewriteEngine On

###############################################################################
#
#   ACHTUNG! subdirectory
#
# Change this path, if your XPCMS installation is located in a subdirectory of the website root.
#
#RewriteBase /


RewriteRule .* index.php [L]

</IfModule>



# Add your own rules here.
# ...

### apache set php version
AddHandler application/x-httpd-php53 .php

##order deny,allow
#allow from all
#AuthName "... TEST: testing ..."
#AuthType Basic
#AuthUserFile /path/cgi-bin/.passwd
#Require valid-user

