
.contextMenuPlugin {
  -webkit-user-select: none;
  display: none;
  font-family: tahoma, arial, sans-serif;
  font-size: 11px;
  position: absolute;
  left: 100px;
  top: 100px;
  min-width: 100px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f7f3f7;
  border: 2px solid #f7f7f7;
  outline: 1px solid #949694;
}

.contextMenuPlugin > li {
  margin: 0 0 0 0;
  padding: 1px;
  background-repeat: no-repeat;
}

.contextMenuPlugin > li > a {
  position: relative;
  display: block;
  padding: 3px 3px 3px 28px;
  color: ButtonText;
  text-decoration: none;
  margin: 1px;
}

.contextMenuPlugin > li > a img {
  position: absolute;
  left: 3px;
  margin-top: -2px;
  width: 16px;
  height: 16px;
}
.contextMenuPlugin > li > a:hover {
  border: 1px solid #fffbff;
  outline: 1px solid #b5d3ff;
  margin: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,255,0.5)), color-stop(100%,rgba(223,223,255,0.5)));
  cursor: default;
}

.contextMenuPlugin > li.divider {
  border-top: 1px solid #e7e3e7;
  border-bottom: 1px solid #ffffff;
  height: 0;
  padding: 0;
  margin: 5px 0 5px 27px;
}

.contextMenuPlugin > .header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(90,90,90,1)), color-stop(100%,rgba(20,20,20,1)));
  position: relative;
  cursor: default;
  padding: 3px 3px 3px 3px;
  color: #ffffff;
}

.contextMenuPlugin > .gutterLine {
  position: absolute;
  border-left: 1px solid #e7e3e7;
  border-right: 1px solid #ffffff;
  width: 0;
  top: 0;
  bottom: 0;
  left: 26px;
  z-index: 0;
}
/**
 * from internet
 *
 */


/* Generic context menu styles */
.contextMenu {
	position: absolute;
	width: 200px;
        min-height: 100px !important;
	z-index: 99999;
	border: solid 1px #CCC;
	background: #EEE;
	padding: 0px;
	margin: 0px;
	display: none;
}

.contextMenu li {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.contextMenu a {
	color: #333;
	text-decoration: none;
	display: block;
	line-height: 20px;
	height: 20px;
	background-position: 6px center;
	background-repeat: no-repeat;
	outline: none;
	padding: 1px 5px;
	padding-left: 28px;
}

.contextMenu li.hover a {
	color: #FFF;
	background-color: #3399FF;
}

.contextMenu li.disabled a {
	color: #AAA;
	cursor: default;
}

.contextMenu li.hover.disabled a {
	background-color: transparent;
}

.contextMenu li.separator {
	border-top: solid 1px #CCC;
}
.contextMenu li a {padding: 5px 0 10px 40px;}
.contextMenu li.edit a { background-image: url(../images/page_white_edit.png); }
.contextMenu li.cut a { background-image: url(../images/cut.png); }
.contextMenu li.copy a { background-image: url(../images/page_white_copy.png); }
.contextMenu li.paste a { background-image: url(../images/page_white_paste.png); }
.contextMenu li.deltst a { background-image: url(../images/page_white_delete.png); }
.contextMenu li.quit a { background-image: url(../images/door.png); }
